@import "../../../styles/constants.scss";

:local(.inputSearch) {
  .ant-input {
    border: 1px solid $gray1;

    &::placeholder {
      color: $gray2;
    }

    &:hover {
      border-color: $blue1;
    }

    &:focus {
      outline: none;
      border-color: $blue1;
    }
  }

  .ant-input-group-addon {
    button {
      background: $blue1;
      border-color: $blue1;
    }
  }
}
