@import "../../../styles/constants.scss";

:local(.wrapper) {
  border: 1px solid $gray1;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  margin: 20px 0;
  padding: 20px;

  &:hover {
    border: 1px solid $blue1;
    box-shadow: 10px 10px 65px -25px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: all 0.4s;
  }

  :local(.iconDelete) {
    cursor: pointer;
    font-size: 16px;
    margin-left: auto;
    padding-left: 10px;

    &:hover {
      color: $blue1;
    }
  }
}

:local(.content) {
  display: flex;
  flex-direction: column;
  word-break: break-all;
}

:local(.info) {
  color: $blue1;
  font-weight: 600;
}
